h1{
    color: darkblue;
    font-family: Arial, Helvetica, sans-serif;
}

.exemplo1{
    color: tomato;
}

.f-teste{
    color:purple;
    font-size: 3em;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}