#container {
    margin: 0 20%;
    background-color: #faebd7;
}


table {
    width: 100%;
    border-spacing: 5px;
}

table,
th,
td {
    border: 2px solid #000;
    border-collapse: collapse;
}

th,
td {
    padding: 15px;
}

td {
    text-align: center;
}

.img-tbl {
    width: 35%;
}

tr:nth-child(even) {
    background-color: #1c99b8;
}

tr:nth-child(odd) {
    background-color: #b8860b;
}

th {
    background-color: #ff8c00;
}

tr:hover {
    background-color: #696969;
}


.frm-01 {
    font-family: Arial, Helvetica, sans-serif;
}

input[type=text] {
    border-radius: 5px;
    width: 100%;
    padding: 2% 0;
    font-size: 20px;
}


.frm-01 input[type="submit"] {
    background-color: dodgerblue;

    border: 1px solid #ccc;
    color: #fff;
    margin: auto;
    display: block;
    padding: 2% 4%;
    border-radius: 7px;
    text-align: center;
}

.frm-01 input[type="submit"]:hover {
    background-color: #0f5161;
}



.info {
    margin: 10px 0;
}

.info select {
    font-size: 16px;
    border-radius: 5px;
    margin: 10px 0;
    width: 30%;
    padding: 2% 0;
}

input[type=text]:invalid {
    background-color: #dc143c;
}